.searchBar input{
    border:none;
    background-color: rgb(1,155,167);
    border-bottom: solid 4px white;
    width: 50%;
}
.searchBar input:focus{
    background-color: white;
    outline: none;
}
.searchBar ::placeholder{
    color:black;
}
.searchBar{
    position: fixed;
 
  width: 100%;
}