body{
 
  color:black;
  margin: 0;
  height: 100%;
  width: 100%;
}
body button{
  background-color: rgb(245,105,65);
}


video{
  object-fit: cover;
}

.rotate-fix{
  transform: rotate(90deg);
  /* shift to right and stick to border */
  transform-origin: top right; 

}

.onHover:hover{
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}